.search-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    height: 4rem;
    width: 95%;
    margin: 20px auto 25px auto;
}

@media (max-width: 620px) {
    .search-section {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        row-gap: 15px;
        height: 7rem;
    }
}