.book-wrapper {
    width: 185px;
    height: 375px;
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    position: relative;

    background: #f5f5f5;
    // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    // box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    // box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    // box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    // box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    box-shadow: rgba(0, 0, 0, 0.2) 5px 7px 10px;
    // box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    // box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    // box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

    &:hover {
        opacity: 0.9;
        cursor: pointer;
    }
}

.book-wrapper-admin {
    position: relative;

    .delete-icon-container {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 30px;

        &:hover {
            cursor: pointer;
        }
    }
    .edit-icon-container {
        position: absolute;
        bottom: 0;
        right: 50px;
        width: 30px;

        &:hover {
            cursor: pointer;
        }
    }
}

.book-image-container {
    height: 220px;

    .book-image {
        width: auto;
        max-width: 163px;
        max-height: 220px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        margin-bottom: 5px;
    
        &:hover {
            transform: scale(1.1);
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
        }
    }
}

.book-name {
    display: block;
    font-size: 1rem;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.author-name {
    font-size: 0.8rem;
    font-weight: 500;
    text-decoration: underline;
}

.price-and-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    .price {
        font-weight: 700;
        box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
        padding: 5px;
        border-radius: 5px;
    }
}

.icon-container {
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    justify-self: flex-end;
}
.add-item-to-cart-button {
    border-radius: 5px;
    // box-shadow:
    // 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    // 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    // 0 12.5px 10px rgba(0, 0, 0, 0.06),
    // 0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    // 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    // 0 100px 80px rgba(0, 0, 0, 0.12);
    // box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    box-shadow: rgba(186, 186, 248, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background:	#FFA500;

    .add-item-to-cart-icon {
        width: 40px;
    }

    &:focus {
        outline: none;
    }
    // &:hover {
    //     cursor: pointer;
    //     box-shadow: 0 10px 10px #777;
    //     transform: rotate(-8deg);
    //     background: #32CD32;
    // }
    &:disabled {
        background:	grey !important;
    }
}

.add-item-to-cart-button__enabled {
    &:hover {
        cursor: pointer;
        box-shadow: 0 10px 10px #777;
        transform: rotate(-8deg);
        background: #32CD32;
    }
}

.admin-icons-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
}


@media (max-width: 620px) {
    .book-wrapper {
        width: 130px;
        height: 380px;
    }

    .book-image-container {
        height: 180px;
    
        .book-image {
            max-width: 110px;
            max-height: 180px;
        }
    }

    .icon-container {
        width: 35px;
        height: 35px;
    }
    .add-item-to-cart-button {
        .add-item-to-cart-icon {
            width: 33px;
        }
    }

    .delete-icon-container {
        width: 20px;
    }
    .edit-icon-container {
        bottom: 40px !important;
        right: -5px !important;
    }
}