.go-to-checkout__modal-container { 
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: rgba(100, 100, 100, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.go-to-checkout__modal {
    width: 40%;
    min-height: 30%;
    border-radius: 5px;
    background: white;
    position: relative;
    padding: 1rem;
    transition: all 0.5s;
}

.close-modal {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-weight: 700;

    &:hover {
        cursor: pointer;
    }
}